<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css"/>
    <title>Canvas</title>
</head>
<body>
    <canvas id="canvas"></canvas>
    
    <script >
        
   window.addEventListener("load", () => {
  const canvas = document.querySelector("#canvas");
  const ctx = canvas.getContext("2d");

  //Resizing
//   window.addEventListener("resize, ")
  canvas.height = 600;
  canvas.width = 1100;

  //variable
  let painting = false;
   
  function startPosition(){
    painting = true;
    draw(e);
  }

  function finishedPosition(){
    painting = false;
    ctx.beginPath();
  }

  function draw(e){
    if(!painting) return;
    ctx.lineWidth = 5; //line thickness
    ctx.lineCap = "round";
    ctx.strokeStyle = "blue";  //line color

    ctx.lineTo(e.clientX, e.clientY);
    ctx.stroke();
    ctx.beginPath();
    ctx.moveTo(e.clientX, e.clientY);
  }

  //EventListeners
  canvas.addEventListener("mousedown", startPosition);
  canvas.addEventListener("mouseup", finishedPosition);
  canvas.addEventListener("mousemove",draw);

});
// window.addEventListener("resize, ")
console.log("hello");

    </script>
</body>
</html>